.bgimg{
    background-image: url('../img/meeting.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
    height: 555px;
    /* opacity: 0.8; */
}
.headerset{
    padding-top: 260px;
    box-sizing: border-box;
}
.headerset h2{
    color:rgb(187, 10, 40);
    font-size: 23px;
    font-weight: bold;
}
.headerset h1{
    color: rgb(187, 10, 40);
    font-size: 43px;
    font-weight: bolder;
}

/* ---------------OUR Services-------------- */

.ourservices{
    padding: 100px 0px 60px;
    height: 700px;    
}
.ourservices h1{
    font-size: 50px;
    font-weight: bold;
}
.rowsetting{
    margin: 80px 0px !important;
}
.imgsetting{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
.fa-user{
    margin-top: 20px;
}
.fa-book{
    margin-top: 20px;
}
.fa-trophy{
    margin-top: 20px;
}
.rowsetting h2{
    margin-top: 20px;
    font-weight: bold;
    font-size: 30px;
}
.rowsetting p{
    padding: 10px;
    color: gray;
}

/* ---------------------------Bio--------------------- */

.Bio{
    height:  855px;
    width: 100%;
    padding: 100px 0px 50px;
}
.Bio h1{
    font-size: 50px;
    font-style: italic;  
}
.card{
    margin: 30px;
}


/* -----------------------oursupport---------------- */

.oursupport{
    height: 250px;
    padding: 50px 0px 60px;
    width: 100%;
}
.oursupport h1{
    font-size: 50px;
    font-weight: bold;
}

/* --------------------Footer----------------- */
.footer{
    padding-top: 200px;
}


/* -------------------Responsive---------------- */
@media(min-width:992px){

}
@media(min-width:768px) and (max-width:991px){

}
@media(min-width:575px) and (max-width: 767px){

}
@media(min-width:480px) and (max-width: 574px){

}
@media(min-width:479px){
 
}
